{% extends  'home/base.html' %}

    {% block content %}

    <!-- ====== About Section Start -->
<section class="pt-20 lg:pt-[120px] pb-12 lg:pb-[90px] overflow-hidden">
    <div class="container">
       <div class="flex flex-wrap justify-between items-center -mx-4">
          <div class="w-full lg:w-6/12 px-4">
             <div class="flex items-center -mx-3 sm:-mx-4">
                <div class="w-full xl:w-1/2 px-3 sm:px-4">
                   <div class="py-3 sm:py-4">
                      <img
                         src="https://cdn.tailgrids.com/1.0/assets/images/services/image-1.jpg"
                         alt=""
                         class="rounded-2xl w-full"
                         />
                   </div>
                   <div class="py-3 sm:py-4">
                      <img
                         src="https://cdn.tailgrids.com/1.0/assets/images/services/image-2.jpg"
                         alt=""
                         class="rounded-2xl w-full"
                         />
                   </div>
                </div>
                <div class="w-full xl:w-1/2 px-3 sm:px-4">
                   <div class="my-4 relative z-4">
                      <img
                         src="https://cdn.tailgrids.com/1.0/assets/images/services/image-3.jpg"
                         alt=""
                         class="rounded-2xl w-full"
                         />
                   </div>
                </div>
             </div>
          </div>
          <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
             <div class="mt-10 lg:mt-0">
                <span class="font-semibold text-lg text-rose-500 mb-2 block">
                Why Choose Us
                </span>
                <h2 class="font-bold text-3xl sm:text-4xl text-teal-600 mb-8">
                   Make your customers happy by giving services.
                </h2>
                <p class="text-base text-white mb-8">
                   It is a long established fact that a reader will be distracted
                   by the readable content of a page when looking at its layout.
                   The point of using Lorem Ipsum is that it has a more-or-less.
                </p>
                <p class="text-white mb-20">
                   {{abouts.about_text|safe}}
                </p>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!-- ====== About Section End -->
    {% endblock content %}