{% extends 'home/base.html' %}

{% block content%}

{% if search %}

    <section class="p-8 pb-4">
        <div class="flex flex-wrap items-center justify-between pb-6 -mx-2">
          <div class="w-auto px-2">
            <h2 class="text-lg text-dark font-semibold">You have searched for {{ search}}</h2>
          </div>
        </div>
      </section>
      <Section>    


    <div class="flex flex-wrap p-10 md:ml-14 infinite-container">
                    {% for spost in search_results %}
            <div class="w-full md:w-1/3 xl:w-1/3 xl:m-auto p-6 flex flex-col infinite-item">
                <a href="{% url 'detailpage' spost.slug %}">
                    <img class="hover:grow hover:shadow-lg"
                        src="/media/{{spost.featured_img}}"
                        width="300px"
                        height="200px"/>
                    <div class="pt-3 flex items-center justify-between">
                        <p class="">{{spost.title}}</p>
                        
                    </div>
                    <p class="pt-1 text-gray-900">Rs. {{spost.price}}</p>
                </a>
            </div>
        {% endfor %}
        </div>
{% else %}
<section class="bg-white p-8 pb-6">
  <div class="flex flex-wrap items-center justify-between pb-6 -mx-2">
    <div class="w-auto px-2">
      <h2 class="text-lg font-semibold">No results found</h2>
    </div>
  </div>
</section>
</section>
{% endif %}


{% endblock content %}