{% extends  'home/base.html' %}

{% block content %}
<!-- component -->
<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="/media/{{post.main_img}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{post.title}}</h1>
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Author:{{post.author_name}}</h2> <br>

        <div class=" mt-4">
           <button class="flex my-5 text-white bg-gray-500 border-0 py-1 px-3 rounded">Sale</button>
        <span class="title-font font-medium text-2xl line-through text-gray-900">Rs. {{post.sale_price}}</span> &nbsp; <span class="title-font font-medium text-2xl text-gray-900">Rs. {{post.price}}</span>
          <button class="flex my-5 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"><a href ="https://wa.me/+918076222412?text=Hey! I want to inquiry about the book = http://13.234.35.250/{{slug}}/, Rs.{{post.price}}" target="_blank" rel="noreffer">Buy It Now<a></button>
          
          </button>
        </div>

        <p class="leading-relaxed text-justify  flex flex-wrap m-4">{{post.body|safe}}</p>
        
        
      </div>
    </div>
  </div>
</section>


    

{% endblock content %}
